<!DOCTYPE html>
<html>
<head>
<title>Konstantinos Faliagkas</title>
<meta charset="utf-8" />
<meta name="description" content="My personal webpage" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,
minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- <meta http-equiv="X-UA-Compatible" content="IE=9" /> -->
<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="shortcut icon" href="static/favicon.ico" />
</head>
<body>

<div id="contentWrapper">
</div>

<div style="display: none">

{{> welcome}}
{{> help}}
{{> contact}}
{{> git}}

</div>

<link rel="stylesheet" type="text/css" href="terminator.css" />
<script src="terminator.js"></script>
<script src="script.js"></script>

</body>
</html>
